.status {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-transform: lowercase;
}

@media screen and (max-width: 780px) {
    td {
        display: block !important;
    }
    th {
        display: none;
    }
}